@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="lofi"] .btn-secondary {
  background-color: rgb(3, 1, 71);
}
[data-theme="lofi"] .btn-primary:hover {
  background-color: rgb(34, 31, 31);
}
[data-theme="lofi"] .btn-primary:disabled {
  background-color: rgb(104, 104, 104);
  color: white;
}

.btn:active {
  transform: translate(0.8);
  transition: transform 200ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  @apply bg-base-200 text-base-content shadow-lg fixed top-0 z-30;
}
main {
  @apply flex-1 mt-20;
}
footer {
  @apply bg-base-100 text-base-content shadow-xl;
}

.form-container-1 {
  @apply w-full h-full max-w-md p-6 bg-neutral-content shadow-xl rounded-lg;
}

.logo-text {
  display: block;
  @apply text-2xl font-bold;
}

.link-text {
  display: block;
  @apply text-lg font-semibold;
}

.logout-icon {
  width: 1.5em;
  height: 1.5em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.alert-icon {
  @apply text-red-600;
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
  .link-text {
    display: none;
  }
}
