@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="lofi"] .btn-secondary {
  background-color: rgb(3, 1, 71);
}
[data-theme="lofi"] .btn-primary:hover {
  background-color: rgb(34, 31, 31);
}
[data-theme="lofi"] .btn-primary:disabled {
  background-color: rgb(104, 104, 104);
  color: white;
  color: #ffbf00;
}

.btn:active {
  transform: translate(0.8);
  transition: transform 200ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  @apply min-h-max;
}

main {
  @apply flex-1;
}

.logout-icon {
  width: 1.5em;
  height: 1.5em;
}

.alert-icon {
  @apply text-red-600;
  width: 1.5rem;
  height: 1.5rem;
}

.alert-icon-2 {
  @apply text-red-600;
  width: 1.2rem;
  height: 1.2rem;
}

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-2xl font-semibold;
}
h3 {
  @apply text-xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}
h5 {
  @apply text-xl font-semibold;
}
h6 {
  @apply text-xl font-semibold;
}

@media only screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
}
